<footer id="sobre">
  <div>
    <h5>#{{ nameContentSource }}</h5>
    <br>
    <p class="grey-text text-lighten-4">
      Conteúdo retirado da página no facebook de <a href="{{ facebookContentSource }}">{{ nameContentSource }}</a>
    </p>
  </div>
  <p>
    Página criada para fins de estudo do framework AngularJS 2.<br><br>
    Reunindo frases da página <strong>33DiasSemMachismo</strong><br>
    Entenda melhor a proposta dos 33 dias <a href="http://bit.ly/33DiasSemMachismo">aqui</a>
  </p>
  <div class="footer-copyright">
    Feito com ❤ <br>
     <small>
       <a href="{{ facebookContentSource }}">{{ nameContentSource }}</a> / <a href="{{ githubDev }}">{{ nameDev }}</a>
     </small>
  </div>
</footer>