<app-menu-dias [dias]='dias'></app-menu-dias>

<div>
  <div class="inicio" id="inicio">
    <h1>#33DiasSemMachismo</h1>
    <a href="#1" class="menu-item">
      <i class="fa fa-arrow-circle-down setinha setinha-inicio" aria-hidden="true"></i>
    </a>
  </div>

  <div *ngFor=" let dia of dias" class="frase-dia" id="{{ dia.dia }}" [style.background]="dia.background" [style.color]="dia.cor"
    [attr.data-hash]="dia.dia">
    <h2>DIA: {{ dia.dia }}</h2>
    <h3>{{ dia.frase }}</h3>
    <span>#33DiasSemMachismo</span>
    <a href="#{{(dia.dia+1 < 33) ? dia.dia+1 : 1 }}" class="menu-item">
      <i class="fa fa-arrow-circle-down setinha" aria-hidden="true" [style.color]="dia.cor"></i>
    </a>
  </div>
</div>
